BioBeamer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BioBeamerHosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="host" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:int" name="min_size" use="optional"/>
                <xs:attribute type="xs:int" name="min_time_diff" use="optional"/>
                <xs:attribute type="xs:int" name="max_time_diff" use="optional"/>
                <xs:attribute type="xs:boolean" name="simulate" use="optional"/>
                <xs:attribute type="xs:string" name="func_target_mapping" use="optional"/>
                <xs:attribute type="xs:string" name="robocopy_args" use="optional"/>
                <xs:attribute type="xs:string" name="pattern" use="optional"/>
                <xs:attribute type="xs:string" name="source_path" use="optional"/>
                <xs:attribute type="xs:string" name="target_path" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
