BioBeamer2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BioBeamerHosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="host" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>&lt;host name="fgcz-i-180" min_size="102400" min_time="10800" max_time="2419200" simulate="False" func_target_mapping="map_data_analyst_tripletof1" robocopy_args="/E /Z /NP /LOG+:C:\\Progra~1\\BioBeamer\\robocopy.log"  pattern=".+[-0-9a-zA-Z_\/\.\\\]+\.(raw|RAW|wiff|wiff\.scan)$">&lt;/host> 
&lt;host name="fgcz-s-021" min_size="1000000" min_time="720000" max_time="1720000" simulate="True" func_target_mapping="" robocopy_args=""  pattern=".+p1000.+QEXACTIVEHF_1.+\.raw">&lt;/host></xs:documentation>
          </xs:annotation>
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="b-fabric" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="applicationID"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
            <xs:attribute type="xs:string" name="instrument" use="optional"/>
            <xs:attribute type="xs:int" name="min_size" use="optional"/>
            <xs:attribute type="xs:short" name="min_time_diff" use="optional"/>
            <xs:attribute type="xs:int" name="max_time_diff" use="optional"/>
            <xs:attribute type="xs:int" name="max_time_delete" use="optional"/>
            <xs:attribute type="xs:int" name="time_out" use="optional"/>
            <xs:attribute type="xs:string" name="simulate_copy" use="optional"/>
            <xs:attribute type="xs:string" name="simulate_delete" use="optional"/>
            <xs:attribute type="xs:string" name="func_target_mapping" use="optional"/>
            <xs:attribute type="xs:string" name="robocopy_mov" use="optional"/>
            <xs:attribute type="xs:string" name="pattern" use="optional"/>
            <xs:attribute type="xs:string" name="source_path" use="optional"/>
            <xs:attribute type="xs:string" name="target_path" use="optional"/>
            <xs:attribute type="xs:string" name="copied_files_log" use="optional"/>
			<xs:attribute type="xs:string" name="syshandler_adress" use="optional"/>
			<xs:attribute type="xs:int" name="syshandler_port" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


